@model HotelReservationsManager.ViewModels.Rooms.IndexVM
@using HotelReservationsManager.Models
@using HotelReservationsManager.ExtentionMethods

@{
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "ROOMS";
}

<div class="grid">
    <div class="content-card">
         <div class="row">
            <div class="col-8 col-sm-6">
                <h2 class="float-left">Стаи</h2>
            </div>
            <div class="col-4 col-sm-6">
                <a class="btn btn-primary btn-lg mb-4 float-right" href="/Rooms/Create">Добави стая</a>
            </div>
        </div>
        <table class="table table-responsive table-striped float-center">
            <thead>
                <tr>
                    @if (loggedUser.Id == 1)
                    {
                        <th scope="col"></th>
                        <th scope="col"></th>
                    }
                    <th>Номер на стая</th>
                    <th>Тип</th>
                    <th>Капацитет</th>
                    <th>Свободна</th>
                    <th>Цена за възрастен</th>
                    <th>Цена за дете</th>
                </tr>
            </thead> 
            <tbody>
                @foreach(Room item in Model.Items)
                {
                    <tr>
                         @if (loggedUser.Id == 1)
                        {
                        <th scope="col">
                                <a href="/Rooms/Edit?id=@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                        </th>
                        <th scope="col">
                            <a href="/Rooms/Delete?id=@item.Id"
                            onclick="return confirm('Delete Record?');"><i class="fa-solid fa-trash-can"></i></a>
                            </th>
                        }
                        <td>@item.RoomNumber</td>
                        <td>@item.Type</td>
                        <td>@item.Capacity</td>
                        @if (item.IsAvailable)
                        {
                            <td>Да</td>
                        }
                        else
                        {
                            <td>Не</td>      
                        }
                        <td>@item.PriceForAdult</td>
                        <td>@item.PriceForChild</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>