@model HotelReservationsManagement.ViewModels.Rooms.IndexVM
@using HotelReservationsManagement.Models
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "ROOMS";
}

<div class="grid">
    <div class="container">
        <table class="table table-responsive table-striped">
           <thead>
               <tr>
                    <th>Номер на стая</th>
                    <th>Тип</th>
                    <th>Капацитет</th>
                    <th>Свободна</th>
                    <th>Цена за възрастен</th>
                    <th>Цена за дете</th>
                </tr>
            </thead> 
            <tbody>
                @foreach(Room item in Model.Items)
                {
                    <tr>
                        <td>@item.RoomNumber</td>
                        <td>@item.Type</td>
                        <td>>@item.Capacity</td>
                        @if (item.IsAvailable)
                        {
                            <td>Да</td>
                        }
                        else
                        {
                            <td>Не</td>      
                        }
                        <td>@item.PriceForAdult</td>
                        <td>@item.PriceForChild</td>
                    </tr>
                }
            </tbody>
</table>
</div>
</div>