@model HotelReservationsManagement.ViewModels.Users.IndexVM
@using HotelReservationsManagement.Models
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "USERS";
}

<div class="grid">
    <div class="container">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th scope="col">Потребителско име</th>
              <th scope="col">Име</th>
              <th scope="col">Презиме</th>
              <th scope="col">Фамилия</th>
              <th scope="col">ЕГН</th>
              <th scope="col">Телефонен номер</th>
              <th scope="col">Е-майл</th>
              <th scope="col">Дата на назначаване</th>
              <th scope="col">Активен</th>
              <th scope="col">Дата на освобождаване</th>
            </tr>
          </thead>

          <tbody>
        @foreach(User item in Model.Items)
        {
            <tr>
                <td>@item.Username</td>
                <td>@item.FirstName</td>
                <td>@item.Surname</td>
                <td>@item.LastName</td>
                <td>@item.EGN</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
                <td>@item.DateOfAppointment</td>
                @if (item.IsActive)
                {
                    <td>Да</td>
                }
                else
                {
                    <td>Не</td>      
                }
                <td>@item.ReleaseDate</td>
            </tr>
        }
          </tbody>
    </table>
    </div>
</div>