@model HotelReservationsManagement.ViewModels.Users.IndexVM
@using HotelReservationsManagement.Models
@using HotelReservationsManagement.ExtentionMethods

@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "USERS";
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}

<div class="grid">
    <div class="content-card">
        <div class="row">
            <div class="col-8 col-sm-6">
                <h2 class="float-left">Потребители</h2>
            </div>
            <div class="col-4 col-sm-6">
                <a class="btn btn-primary btn-lg mb-4 float-right" href="/Users/Create">Създай потребител</a>
            </div>
        </div>
         <table class="table table-responsive table-striped mt-4 float-center">
              <thead>
                <tr>
                    @if (loggedUser.Id == 1)
                    {
                      <th scope="col"></th>
                      <th scope="col"></th>
                    }
                  <th scope="col">Потребителско име</th>
                  <th scope="col">Име</th>
                  <th scope="col">Презиме</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col">ЕГН</th>
                  <th scope="col">Телефонен номер</th>
                  <th scope="col">Е-майл</th>
                  <th scope="col">Дата на назначаване</th>
                  <th scope="col">Активен</th>
                  <th scope="col">Дата на освобождаване</th>
                </tr>
              </thead>

              <tbody>
            @foreach(User item in Model.Items)
            {


                  <tr>
                    @if (loggedUser.Id == 1)
                    {
                            @if (item.Id == 1)
                            {
                                <th scope="col">
                                    <a href="/Users/Edit?id=@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                </th>
                                <td></td>
                            }
                            else
                            {
                                <th scope="col">
                                    <a href="/Users/Edit?id=@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                </th>
                                <th scope="col">
                                    <a href="/Users/Delete?id=@item.Id"
                                    onclick="return confirm('Delete Record?');"><i class="fa-solid fa-trash-can"></i></a>
                                </th>
                            }
                        }

                    <td>@item.Username</td>
                    <td>@item.FirstName</td>
                    <td>@item.Surname</td>
                    <td>@item.LastName</td>
                    <td>@item.EGN</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td>@item.DateOfAppointment</td>
                    @if (item.IsActive)
                    {
                        <td>Да</td>
                    }
                    else
                    {
                        <td>Не</td>

                    }
                    <td>@item.ReleaseDate</td>
                </tr>
            }
              </tbody>
        </table>
    </div>
</div>